table.my-table {
  a, th.orderable button.mantine-UnstyledButton-root {
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      text-decoration: underline;
      color: blue;
    }
  }
}

html[data-mantine-color-scheme='dark'] table.my-table {
  a:hover, th.orderable button.mantine-UnstyledButton-root:hover {
    color: orange;
  }
}